<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Book</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container my-5">
    <h2 class="mb-5">Add new book</h2>
    <div class="row">
        <div class="col-md-6">
            <form action="#" th:action="@{/addbook}" th:object="${book}" method="post">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="title" class="col-form-label">Title</label>
                        <input type="text" th:field="*{title}" class="form-control" id="title" placeholder="Title">
                        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="author" class="col-form-label">Author</label>
                        <input type="text" th:field="*{author}" class="form-control" id="author" placeholder="Author">
                        <span th:if="${#fields.hasErrors('author')}" th:errors="*{author}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="genre" class="col-form-label">Genre</label>
                        <input type="text" th:field="*{genre}" class="form-control" id="genre" placeholder="Genre">
                        <span th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="comments" class="col-form-label">Comments</label>
                        <input type="text" th:field="*{comments}" class="form-control" id="comments"
                               placeholder="Comments">
                        <span th:if="${#fields.hasErrors('comments')}" th:errors="*{comments}" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <input type="submit" class="btn btn-primary" value="Add book">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>